.about {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  width: 100vw;
  height: 100vh;
}

.aboutBox {
  padding: 0 300px 0 300px;
  width: 100%;
}

.aboutHr {
  margin: 20px 0 20px 0;
}

.aboutTitle {
  font-size: 40px;
  margin-bottom: 10px;
}

.aboutBlock {
  font-size: 24px;
  padding: 0 20px 0;
}

.descriptSkills {
  margin: 5px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
}

.aboutText p {
  margin-bottom: 10px;
}

@media screen and (max-width: 1399px) {
  .aboutBox {
    padding: 0 100px 0 100px;
  }
  .aboutHr {
    margin: 10px 0 10px 0;
  }
  .aboutTitle {
    font-size: 30px;
    margin-bottom: 5px;
  }
  .aboutBlock {
    font-size: 22px;
    padding: 0 10px 0;
  }
  .aboutText p {
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 900px) {
  .about {
    padding-top: 50px;
  }
  .aboutBox {
    padding: 0 30px 0 30px;
  }
  .aboutHr {
    margin: 5px 0 5px 0;
  }
  .aboutTitle {
    font-size: 25px;
    margin-bottom: 3px;
  }
  .aboutBlock {
    font-size: 20px;
    padding: 0 5px 20px;
  }
  .aboutText p {
    margin-bottom: 3px;
  }
}
