.Header {
  display: none;
  position: fixed;
  padding: 0 50px;
  width: 100%;
  height: 100px;
  top: 2000px;
  left: 0;
  background-color: rgb(50, 56, 66);
  border-radius: 0px 0px 30px 30px;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  transition-duration: 0.3s;
  /* font-family: MultiroundPro; */
}

.headerTitle {
  font-family: MultiroundPro;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  letter-spacing: 3px;
  text-align: center;
}

.Header.entering {
  display: flex;
  animation: upHeader 1.75s forwards;
}

.Header.entered {
  display: flex;
  top: 0;
}

.Header.entering .links-box #link_0 {
  display: flex;
  animation: firstLink 2.5s forwards;
}
.Header.entering .links-box #link_1 {
  display: flex;
  animation: firstLink 3s forwards;
}
.Header.entering .links-box #link_2 {
  display: flex;
  animation: firstLink 3.5s forwards;
}

@keyframes upHeader {
  0% {
    top: 2000px;
  }
  100% {
    top: 0;
  }
}

@keyframes firstLink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.links-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link {
  transition: 0.3s;
  width: 50px;
  height: 50px;
}

.link:hover {
  transform: rotate(20deg);
}

.links-box {
  width: 200px;
}

.headBtn,
.minibtn {
  font-family: MultiroundPro;
  font-size: 20px;
  color: white;
  background-color: rgb(3, 107, 121);
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.minibtn {
  display: none;
}

.headBtn:hover {
  background-color: rgb(0, 170, 192);
}

.headBtn:active {
  background-color: rgb(29, 29, 29);
}

@media screen and (max-width: 1399px) {
  .headBtn {
    font-size: 16px;
    padding: 7px;
  }
}

@media screen and (max-width: 1399px) {
  .Header {
    justify-content: flex-start;
    padding: 0 25px;
  }
  .headerTitle {
    position: static;
    transform: none;
    font-size: 20px;
  }
  .links-box {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(-25px, -50%);
  }
  .logo {
    margin-left: 25px;
  }
}

@media screen and (max-width: 900px) {
  .headBtn {
    font-size: 14px;
    padding: 5px;
  }
  .headerTitle {
    font-size: 16px;
  }
  .Header {
    padding: 25px;
    height: 50px;
  }
  .link {
    width: 30px;
    height: 30px;
  }
  .links-box {
    width: 125px;
  }
}

@media screen and (max-width: 600px) {
  .headerTitle {
    font-size: 12px;
    width: 100px;
  }
  .headBtn {
    font-size: 10px;
    width: 100px;
  }
  .link {
    width: 20px;
    height: 20px;
  }
  .links-box {
    width: 100px;
  }

  .headBtn {
    display: none;
  }
  .minibtn {
    display: block;
    font-size: 10px;
    padding: 5px;
  }
}
@media screen and (max-width: 400px) {
  .headerTitle {
    font-size: 10px;
    width: 75px;
  }
  .link {
    width: 18px;
    height: 18px;
  }
  .links-box {
    width: 70px;
  }
  .minibtn {
    font-size: 8px;
    padding: 3px;
  }
}
