.Header {
  display: none;
  position: fixed;
  padding: 0 50px;
  width: 100%;
  height: 100px;
  top: 2000px;
  left: 0;
  background-color: rgb(197, 200, 204);
  border-radius: 0px 0px 30px 30px;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  transition-duration: 0.3s;
  /* font-family: MultiroundPro; */
}

.headerTitle {
  font-family: MultiroundPro;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* color: white; */
  letter-spacing: 3px;
}

/* .Header.exiting {
    animation: goldenText 1s forwards;
  } */

.Header.entering {
  display: flex;
  animation: upHeader 1.75s forwards;
}

.Header.entered {
  display: flex;
  top: 0;
}

.Header.entering .links-box #link_0 {
  display: flex;
  animation: firstLink 2.5s forwards;
}
.Header.entering .links-box #link_1 {
  display: flex;
  animation: firstLink 3s forwards;
}
.Header.entering .links-box #link_2 {
  display: flex;
  animation: firstLink 3.5s forwards;
}

@keyframes upHeader {
  0% {
    top: 2000px;
  }
  100% {
    top: 0;
  }
}

@keyframes firstLink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.links-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link {
  transition: 0.3s;
  width: 50px;
  height: 50px;
}

.link:hover {
  transform: rotate(20deg);
}

.links-box {
  width: 200px;
}
