.slide {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  transition: 0.5s;
  /* width: 100%;
  height: auto; */
  cursor: pointer;
}

.leftNav,
.rightNav {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 60px;
  background: rgb(196, 218, 236);
  color: rgb(104, 109, 112);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.leftNav:hover,
.rightNav:hover {
  color: rgb(196, 218, 236);
  background: rgb(113, 133, 150);
}

.leftNav:active,
.rightNav:active {
  color: rgb(219, 230, 240);
  background: rgb(148, 167, 184);
}

.leftNav {
  top: 50%;
  left: -100px;
  transform: translate(-50%, -50%);
}

.rightNav {
  top: 50%;
  right: -100px;
  transform: translate(50%, -50%);
}

.pagination-box {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide:active {
  transform: scale(1.1);
}

@media screen and (max-width: 1399px) {
  .leftNav,
  .rightNav {
    width: 75px;
    height: 75px;
    font-size: 45px;
  }
}
@media screen and (max-width: 1099px) {
  .leftNav,
  .rightNav {
    width: 50px;
    height: 50px;
    font-size: 35px;
  }

  .leftNav {
    top: 50%;
    left: -50px;
    transform: translate(-50%, -50%);
  }

  .rightNav {
    top: 50%;
    right: -50px;
    transform: translate(50%, -50%);
  }
}

@media screen and (max-width: 700px) {
  .leftNav,
  .rightNav {
    width: 30px;
    height: 30px;
    font-size: 25px;
  }
  .pagination-box {
    display: none;
  }

  .leftNav {
    top: 50%;
    left: -30px;
    transform: translate(-50%, -50%);
  }

  .rightNav {
    top: 50%;
    right: -30px;
    transform: translate(50%, -50%);
  }
}
