.footer {
  z-index: 500;
  position: fixed;
  padding-left: 50px;
  width: 300px;
  height: 100px;
  bottom: 0;
  left: 1px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  line-height: 30px;
}

.footer-list {
  list-style-type: none;
}

@media screen and (max-width: 1800px) {
  .footer {
    width: auto;
    height: auto;
  }
}

@media screen and (max-width: 1299px) {
  .footer {
    font-size: 15px;
    padding-left: 25px;
    line-height: 15px;
  }
}

@media screen and (max-width: 900px) {
  .footer {
    font-size: 10px;
    padding-left: 15px;
    line-height: 10px;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    font-size: 6px;
    padding-left: 6px;
    line-height: 6px;
  }
}
