.topAbout {
  display: flex;
  width: 100%;
  /* justify-content: space-between; */
  align-items: center;
}

.avatar {
  width: 200px;
  height: 200px;
  background-color: gray;
}

.aboutName {
  font-size: 40px;
}

.blockquote {
  color: rgba(0, 0, 0, 0.5);
  font-size: 30px;
  margin-left: 20px;
}

.aboutInfo {
  display: flex;
  margin-left: 40px;
  flex-direction: column;
  justify-content: space-between;
  height: 80px;
}

@media screen and (max-width: 1399px) {
  .avatar {
    width: 150px;
    height: 150px;
  }
  .aboutName {
    font-size: 30px;
  }
  .blockquote {
    font-size: 25px;
    margin-left: 10px;
  }
  .aboutInfo {
    margin-left: 20px;
    height: 40px;
  }
}

@media screen and (max-width: 900px) {
  .avatar {
    width: 124px;
    height: 124px;
  }
  .aboutName {
    font-size: 25px;
  }
  .blockquote {
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    margin-left: 5px;
  }
  .aboutInfo {
    margin-left: 10px;
    height: auto;
  }
}

@media screen and (max-width: 400px) {
  .aboutName {
    font-size: 20px;
  }
}
