* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Doloman;
  font-weight: bolder;
}

body {
  overflow-x: hidden;
}

.btn {
  font-family: MultiroundPro;
  font-size: 20px;
  color: white;
  background-color: rgb(0, 170, 192);
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
}

@media screen and (max-width: 1399px) {
  .btn {
    font-size: 16px;
    padding: 7px;
  }
}

@media screen and (max-width: 900px) {
  .btn {
    font-size: 14px;
    padding: 5px;
  }
}

.btn:hover {
  background-color: rgb(3, 107, 121);
}

.btn:active {
  background-color: rgb(29, 29, 29);
}

a {
  color: black;
  text-decoration: none;
}

@font-face {
  font-family: 'MultiroundPro';
  src: local('MultiroundPro'), url('./fonts/Multiround\ Pro/MultiroundPro.otf');
}

@font-face {
  font-family: 'Doloman';
  src: local('Doloman Pavljenko'),
    url('./fonts/Doloman\ Pavljenko/DolomanPavljenko.otf');
}

.app {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
}

.page {
  top: 0;
  left: 0;
  position: absolute;
}

.page-enter-active {
  animation: 0.5s fade-in forwards;
}

.page-exit-active {
  animation: 0.5s fade-out forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(-400px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(400px);
  }
}

.start-text {
  position: relative;
  font-size: 40px;
  line-height: 60px;
  color: gray;
  /* position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
  text-align: center;
  text-shadow: rgb(170, 167, 156) 1px 0 10px;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
supported by Chrome, Edge, Opera and Firefox */
}

.start-text span {
  font-family: MultiroundPro;
  color: #619597;
  font-size: 30px;
}

.start-text {
  transition: 0.1s;
}

.start-text.exited:hover {
  transition: 0.5s;
  font-size: 45px;
}

.start-text.entering {
  animation: goldenText 2s forwards;
}

.start-text.entering span {
  animation: goldenText2 2s forwards;
}

.start-text.entered {
  opacity: 0;
  top: -1000px;
  display: none;
}

/* @keyframes clearText {
  0% {
    top: 0;
    opacity: 1;
  }
  100% {
    top: -1000px;
    opacity: 0;
  }
} */

@keyframes goldenText {
  0% {
    opacity: 1;
    top: 0;
    font-size: 42px;
    text-shadow: rgb(170, 167, 156) 1px 0 10px;
  }
  10% {
    font-size: 45px;
    text-shadow: #ffcc00 5px 0 10px;
  }
  20% {
    font-size: 41px;
    text-shadow: #ffcc00 5px 0 10px;
    opacity: 1;
    top: 0;
  }
  40% {
    font-size: 43px;
    text-shadow: rgb(170, 167, 156) 1px 0 10px;
  }
  100% {
    opacity: 0;
    top: -1000px;
  }
}

@keyframes goldenText2 {
  0% {
    opacity: 1;
    top: 0;
    font-size: 32px;
    text-shadow: rgb(170, 167, 156) 1px 0 10px;
  }
  10% {
    font-size: 35px;
    text-shadow: #ffcc00 5px 0 10px;
  }
  20% {
    font-size: 31px;
    text-shadow: #ffcc00 5px 0 10px;
    opacity: 1;
    top: 0;
  }
  40% {
    font-size: 33px;
    text-shadow: rgb(170, 167, 156) 1px 0 10px;
  }
  100% {
    opacity: 0;
    top: -1000px;
  }
}

.swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
