.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding-top: 100px;
  /* padding: 100px 50px 0 50px; */
}

.portfolio-box {
  display: flex;
  flex-direction: column;
  width: 67.7%;
  height: 100%;
}

.portfolio-swiper {
  width: 100%;
  height: 80%;
  /* background-color: blue; */
}

.btnToStartLink {
  align-self: flex-start;
  margin-top: 20px;
}

.btnToStart {
  font-family: MultiroundPro;
  font-size: 20px;
  color: white;
  background-color: rgb(0, 170, 192);
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.btnToStart:hover {
  background-color: rgb(3, 107, 121);
}

.btnToStart:active {
  background-color: rgb(29, 29, 29);
}

.portfolioPage {
  padding: 20px;
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  gap: 30px;
  grid-template-columns: 45% 45%;
  grid-template-rows: 45% 45%;
}

.portfolioItem {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
}

.portfolioItem:hover {
  transform: scale(1.02);
}

.portfolioItemTitle {
  display: flex;
  height: 20%;
  width: 100%;
  background-color: white;
  align-items: center;
  justify-content: center;
  border-top: solid 1px rgba(0, 0, 0, 0.25);
}

.portfolioItemTitle h3 {
  /* font-size: 20px; */
  font-family: MultiroundPro;
  text-align: center;
}

.portfolioItem {
  height: 100%;
}

.portfolioImg {
  width: 100%;
  height: 80%;
  object-position: top;
  object-fit: cover;
}

.lol {
  width: 40px;
  height: 40px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.lol:hover {
  background-color: rgb(3, 107, 121);
}

.lol:active {
  background-color: rgb(29, 29, 29);
}

.x {
  height: 100%;
  background-color: green;
}

.leftPortfolioBtn,
.rightPortfolioBtn {
  height: 50px;
  width: 50px;
  font-size: 20px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.leftPortfolioBtn:hover,
.rightPortfolioBtn:hover {
  color: rgb(3, 107, 121);
}

.leftPortfolioBtn:active,
.rightPortfolioBtn:active {
  color: rgb(0, 170, 192);
}

.portfolioBottom {
  display: flex;
  height: 20%;
  justify-content: center;
}

.bulBox {
  display: flex;
  align-items: center;
  /* background: black; */
  width: auto !important;
  height: 50px;
}

.lol {
  display: flex;
  width: 50px;
  height: 50px;
}

.act-bul {
  opacity: 1;
  background: rgb(0, 170, 192);
}

@media screen and (max-width: 900px) {
  .portfolioPage {
    padding: 30px;
    padding-top: 10px;
    gap: 20px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
  }
  .portfolio {
    padding-top: 50px;
  }
  .bulBox {
    height: 30px;
  }
  .lol {
    width: 30px;
    height: 30px;
  }
  .portfolio-box {
    width: 90%;
  }
  .leftPortfolioBtn,
  .rightPortfolioBtn {
    height: 30px;
    width: 30px;
  }
  .portfolio-swiper {
    height: 90%;
    /* background-color: blue; */
  }
  .portfolioBottom {
    height: 10%;
  }
  .portfolioItemTitle h3 {
    font-size: 12px;
  }
}

@media screen and (max-width: 600px) {
  /* .portfolioPage {
    padding: 10px;
    gap: 10px;
  } */
  .portfolio-box {
    width: 90%;
  }
  .portfolio-swiper {
    height: 90%;
  }
  .portfolioBottom {
    height: 10%;
  }
  .bulBox {
    height: 30px;
  }
  .lol {
    width: 30px;
    height: 30px;
  }

  .leftPortfolioBtn,
  .rightPortfolioBtn {
    width: 30px;
    height: 30px;
    font-size: 20px;
  }

  .portfolioItemTitle h3 {
    font-size: 8px;
  }
}
